.root {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
  position: relative;
  column-gap: 14px;
}
.img {
  position: absolute;
  width: 12px;
  height: 16px;
  left: -44px;
  top: 7px;
  flex-shrink: 0;
  display: none;
}
.link {
  display: flex;
  flex-direction: row;
}
.freeBox {
  font-size: 18px;
  font-weight: 600;
  color: rgb(250, 250, 250);
  display: flex;
  position: relative;
}
.slotTargetChildren {
  font-size: 18px;
  font-weight: 600;
  color: rgb(250, 250, 250);
}
.text {
  position: absolute;
  font-size: 16px;
  color: rgb(0, 0, 0);
  font-weight: 300;
  left: 181px;
  top: 3px;
  display: none;
}
