.root {
  font-size: 18px;
  font-weight: 300;
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  flex-direction: column;
  align-items: center;
  background: #2eb58e;
  min-width: 0;
  min-height: 0;
  padding: 120px 12%;
}
@media (min-width: 0px) and (max-width: 800px) {
  .root {
    padding: 64px 20px;
  }
}
.freeBox__vc0KH {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 980px;
  min-width: 0;
  min-height: 0;
}
.freeBox__uxHkM {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 0px;
  height: 0px;
  background: rgba(68, 192, 255, 0.2);
  flex-shrink: 0;
}
.freeBox__wk4Ms {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: auto;
  height: auto;
}
@media (min-width: 0px) and (max-width: 800px) {
  .freeBox__wk4Ms {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 80px;
    column-gap: 0px;
  }
}
.freeBox__pXxM {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 800px) {
  .freeBox__pXxM {
    left: auto;
    top: auto;
    align-items: center;
  }
}
.freeBox__vCcY {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 464px;
}
@media (min-width: 0px) and (max-width: 800px) {
  .freeBox__vCcY {
    width: 322px;
  }
}
.text___9HcZu {
  font-size: 70px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  font-family: "Eczar", serif;
}
@media (min-width: 0px) and (max-width: 800px) {
  .text___9HcZu {
    text-align: center;
    font-size: 42px;
  }
}
@media (min-width: 0px) and (max-width: 400px) {
  .text___9HcZu {
    font-size: 36px;
  }
}
.text__ongUu {
  position: relative;
  font-size: 22px;
  padding-bottom: 40px;
}
@media (min-width: 0px) and (max-width: 800px) {
  .text__ongUu {
    text-align: center;
    font-size: 18px;
  }
}
.freeBox__wfP3C {
  width: 40%;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
@media (min-width: 0px) and (max-width: 800px) {
  .freeBox__wfP3C {
    left: auto;
    top: auto;
    align-items: center;
  }
}
@media (min-width: 0px) and (max-width: 400px) {
  .freeBox__wfP3C {
    width: 100%;
    min-width: 0;
  }
}
.text__dPWs4 {
  font-size: 70px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  font-family: "Eczar", serif;
}
@media (min-width: 0px) and (max-width: 800px) {
  .text__dPWs4 {
    text-align: center;
    font-size: 42px;
  }
}
@media (min-width: 0px) and (max-width: 400px) {
  .text__dPWs4 {
    font-size: 36px;
  }
}
.freeBox__tsnnH {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: auto;
  height: auto;
}
@media (min-width: 0px) and (max-width: 800px) {
  .freeBox__tsnnH {
    align-items: center;
  }
}
.copyableLink:global(.__wab_instance) {
  position: relative;
}
.text__rU2Cg {
  margin-right: 0px;
}
.freeBox___15Ji4 {
  width: 40%;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  row-gap: 9px;
}
@media (min-width: 0px) and (max-width: 800px) {
  .freeBox___15Ji4 {
    width: auto;
  }
}
.freeBox__mTb3 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  height: auto;
  margin-top: 10px;
  margin-left: -8px;
  column-gap: 14px;
}
@media (min-width: 0px) and (max-width: 800px) {
  .freeBox__mTb3 {
    margin-left: 0px;
    column-gap: 39px;
    row-gap: 0px;
  }
}
.link__nmyfZ {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 8px;
}
.svg__yfCk3 {
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
  color: #fafafa;
  flex-shrink: 0;
}
.link__dy6Tk {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 8px;
}
.svg__kuHDf {
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
  color: #fafafa;
  flex-shrink: 0;
}
.link__n48Rx {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 8px;
}
.svg__wpXkk {
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
  color: #fafafa;
  flex-shrink: 0;
}
.freeBox__wtHuK {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 0px;
  height: 0px;
  background: rgba(68, 192, 255, 0.2);
  flex-shrink: 0;
}
